:root {
    --text-color-secondary: #757575;
    --color-hover: #2196F3;
    --tra: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.item .current {
    color: var(--color-hover);
}

button {
    cursor: pointer;
}

/* ---------------- Хедер---------------- */

.header {
    background: #ffffff;
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px #ECECEC;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color: #000000;
    text-decoration: none;
    padding-top: 24px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-right: 73px;
}

.logo-color {
    color: #2196F3;
}

.header-nav {
    display: flex;    
}

.header-nav .item:not(:last-child),
.header-contact-list .item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-link {
    display:inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;    
}

.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background: var(--color-hover);
}

.list {
    list-style: none;
}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    align-items: center;
}

.header-contact-list {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;    
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
    
}

.link {
    text-decoration: none;
}

a {
    transition: color var(--tra);
}

a:hover,
a:focus {
    color: var(--color-hover);
}


/* --------------Герой----------------- */

.hero-container {
    max-width: 1600px;
    max-height: 600px;   
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),
        url(../images/hero-img.jpg);        
    }


.hero-title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;    

    transition: background-color var(--tra);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.title-center {
    text-align: center;
}

.benefits {
    background: #FFFFFF;
    padding-top: 94px;
}

.benefits-list {
    display: flex;
}

.benefit-item {
    width: 270px;
}

.benefit-icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.benefits-list .benefit-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-text {   
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-secondary);
}

.industry {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
.industry-list {
    display: flex;
    margin-top: 50px;
}

.industry-box {
    position: relative;
}

.industry-box-text {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
}

.industry-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.industry-list .industry-item:not(:last-child) {
    margin-right: 30px;
}

/*-------------------- Наша команда -------------------*/

.team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    margin-top: 50px;    
}

.team-list .team-person:not(:last-child) {
    margin-right: 30px;
}

.team-person {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.member-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;    
}

.speciality-member-team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-secondary);
    margin-top: 10px;
    margin-bottom: 16px;
}

.member-t {
    padding-top: 30px;
    padding-bottom: 30px;
}


.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.team-soc-item {    
    width: 44px;
    height: 44px;    
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
    

    transition: background-color var(--tra);
}

.team-soc-icon {
    fill: #AFB1B8;
    transition: fill var(--tra);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--color-hover);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: #ffffff;
}

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title {
    margin-bottom: 50px;
}

.client-list {
    display: flex;
    gap: 30px;
}

.client-item {
    width: 170px;
    height: 92px;    
}

.client-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill:  #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border var(--tra), color var(--tra);
}

.client-icon {
    transition: fill var(--tra);
}


.client-link:hover,
.client-link:focus {
    border: 1px solid var(--color-hover);
    color: var(--color-hover);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--color-hover);
}


/*-------------------------- Футер-------------------------- */

.footer-container {    
    display: flex;
    align-items: baseline;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 43px;
    display: flex;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

.list-footer-contact {
    margin-top: 20px;
}

.footer-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-right: 70px;
}

.list-footer-contact .footer-contact-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-communication {
    color: rgba(255, 255, 255, 0.6);
}

.footer-soc { 
    margin-right: 93px;   
}

.footer-soc-title,
.footer-mailing-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
    gap: 10px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;    
}

.footer-soc-link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--tra);
}

.footer-soc-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--color-hover);
}

.footer-mailing-list {
    width: 570px;
    display: block;
}

.footer-mailing-title {
    margin-bottom: 20px;
}

.footer-mailing-form {
    display: flex;
}

.email-input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: #ffffff;
}

/*--------------------- Стиль Портфоліо ----------------------*/

.portfolio {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Фільтр проєктів */

.filter-button-projects {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background: #F5F4FA;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color var(--tra),
    color var(--tra),
    border var(--tra),
    box-shadow var(--tra);
}

.filter-button-projects:hover,
.filter-button-projects:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-projects {
    display: flex;    
    margin-bottom: 50px;
    justify-content: center;
}

.filter-projects .filter-item:not(:last-child) {
    margin-right: 8px;
}


/* Проєкти */

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-list a {
    text-decoration: none;    
}

.project-item {   
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-item:hover,
.project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-text {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.project-title {    
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.category-project {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color-secondary);
}

.project-box {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--tra);
}

.project-overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.project-item-link:hover .project-overlay,
.project-item-link:focus .project-overlay {
    transform: translateY(0);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--tra), visibility var(--tra);
}

.modal {
    width: 528px;
    min-height: 581px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform var(--tra);

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: fill var(--tra);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    fill: var(--color-hover);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-field {
    margin-bottom: 10px;
}

.modal-title {   
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.input-lable {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;    
}

.input-wrapper {    
    position: relative;    
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
}

.modal-input:focus {
    border: 1px solid var(--color-hover);
}

.modal-input:focus + .modal-icon {
    fill: var(--color-hover);
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}


.checkbox-policy {
    width: 100%;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.check-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.check-text span {
    width: 16px;
    height: 15px;
    display: flex;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    fill: transparent;
}

.modal-check:checked + .check-text span {
    background-color: var(--color-hover);
    fill: #FFFFFF;
    border: none;
}

.modal-check:focus+.check-text span {
    border-color: var(--color-hover);
}

.form-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color: #FFFFFF;
    border: none;
}

